<%- include('header.ejs') %>

<div class="grid">
  <div class="row">
    <div class="col col-6 offset-col-3">
      <div class="skraning">
        <h1><%= title %> </h1>
        <h2>Villa við skráningu</h2>
        <h3>Getur verið að þú hafir verið búinn að skrá þig?</h3>
      </div>
    </div>
  </div>
</div>

<%- include('footer.ejs') %>
