<div class="grid">
  <div class="row">
    <div class="col col-12">
      <header><h2>Undirskriftir</h2></header>
      <table>
        <tbody>
          <tr>
            <th scope="col"><strong>Dags</strong></th>
            <th scope="col"><strong>Nafn</strong></th>
            <th scope="col"><strong>Athugasemd</strong></th>
          </tr>
          <tr>
            <td>05.02.2021</td>
            <td>Bjarni</td>
            <td>Hvað er um að vera?</td>
          </tr>
          <%- dalkar %>
        </tbody>
      </table>
    </div>
  </div>
</div>
