// Sækja config

@import './config';

// Allir stílar fyrir "global", þ.e.a.s. type selectorar, reset etc

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  text-align: center;
  vertical-align: middle;

  h1 {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    word-wrap: break-word;
  }
}

label {
  font-size: 1.5rem;
}

h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

h3 {
  font-weight: 700;
  margin-bottom: 0.5em;
}

.checkbox-container {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;

  input {
    transform: scale(1.5);
  }

  label {
    font-size: 1em;
    margin-left: 10px;
    padding: auto;
  }
}

body {
  background-color: rgb(253, 233, 208);
  font-family: Georgia, sans-serif;
  font-size: 16px;

  * {
    padding: 1.5px;
  }

  input:not(.checkbox) {
    font-size: 1.5em;
    height: 100%;
    width: 100%;
  }

  textarea {
    font-size: 1.5em;
    height: 150px;
    width: 100%;
  }
}

footer {
  margin-bottom: 3em;
  text-align: center;
}

.button-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1em;

  button {
    border-radius: 10px;
    font-family: inherit;
    font-size: 2em;
    padding: 5px 30px;
  }
}

hr {
  margin-bottom: 1em;
  margin-top: 2em;
}

.skraning {
  margin: 100px;
}
